---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

export interface Props {
  title?: string
  description?: string
  image?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/placeholder-social.jpg' } = Astro.props
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={new URL(image, Astro.url)} />

<!-- keywords -->
<meta data-react-helmet='true' name='keywords' content='火山引擎,技术服务,企业服务,业务增长,企业解决方案,智能推荐,人工智能,视觉特效,数据运营,多媒体技术' />
<!-- description -->
<meta
  data-react-helmet='true'
  name='description'
  content='火山引擎是字节跳动旗下的云服务平台，将字节跳动快速发展过程中积累的增长方法、技术能力和应用工具开放给外部企业，提供云基础、视频与内容分发、数智平台、人工智能、开发与运维等服务，帮助企业在数字化升级中实现持续增长。'
/>
<!-- sharecontent -->
<meta
  data-react-helmet='true'
  name='sharecontent'
  data-msg-img='https://portal.volccdn.com/obj/volcfe/misc/favicon.png'
  data-msg-title='火山引擎-云上增长新动力'
  data-msg-content='火山引擎是字节跳动旗下的云服务平台，将字节跳动快速发展过程中积累的增长方法、技术能力和应用工具开放给外部企业，提供云基础、视频与内容分发、数智平台、人工智能、开发与运维等服务，帮助企业在数字化升级中实现持续增长。'
/>
