---
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

export interface Props {
  title?: string
  description?: string
  image?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/placeholder-social.jpg' } = Astro.props
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('__shanks__theme')) {
      return localStorage.getItem('__shanks__theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()
  if (theme && theme === 'moon') {
    document.documentElement.classList.add('dark')
  } else {
    document.documentElement.classList.remove('dark')
  }
</script>
<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={new URL(image, Astro.url)} />

<!-- keywords -->
<meta data-react-helmet='true' name='keywords' content='前端监控,小程序监控,mitojs,cjinhuo,web monitoring,mini program monitoring,shanks,blogs,' />
<!-- description -->
<meta data-react-helmet='true' name='description' content='shank blog' />

<!-- sharecontent -->
<meta
  data-react-helmet='true'
  name='sharecontent'
  data-msg-img='https://portal.volccdn.com/obj/volcfe/misc/favicon.png'
  data-msg-title='Shanks Blog'
  data-msg-content='前端监控,小程序监控,mitojs,cjinhuo,web monitoring,mini program monitoring,shanks,blogs'
/>
