---
// all pages through the use of the <BaseHead /> component.
import '@fontsource/poppins'
import '../styles/global.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

export interface Props {
  title?: string
  description?: string
  image?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/placeholder-social.jpg' } = Astro.props
---

<script is:inline>
  const initThemeFromLocalStorage = () => {
    const Dark = 'dark'
    const Light = 'light'
    const localStorageKey = '__shanks__theme'
    const addDarkToClassList = () => document.documentElement.classList.add(Dark)
    const removeDarkToClassList = () => document.documentElement.classList.remove(Dark)
    const media = window.matchMedia('(prefers-color-scheme: dark)')
    const colorSchemeChange = (e) => {
      if (e.matches) {
        localStorage.setItem(localStorageKey, Dark)
        addDarkToClassList()
      } else {
        localStorage.setItem(localStorageKey, Light)
        removeDarkToClassList()
      }
    }
    if (typeof media.addEventListener === 'function') media.addEventListener('change', colorSchemeChange)
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem(localStorageKey)) {
        return localStorage.getItem(localStorageKey)
      }
      if (media.matches) {
        localStorage.setItem(localStorageKey, Dark)
        return Dark
      }
      return Light
    })()
    if (theme && theme === Dark) {
      addDarkToClassList()
    } else {
      removeDarkToClassList()
    }
  }
  initThemeFromLocalStorage()
  document.addEventListener('astro:after-swap', () => {
    initThemeFromLocalStorage()
  })
</script>
<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={new URL(image, Astro.url)} />

<!-- keywords -->
<meta
  data-react-helmet='true'
  name='keywords'
  content='前端监控,小程序监控,mitojs,cjinhuo,web monitoring,mini program monitoring,shanks,blogs,'
/>
<!-- description -->
<meta data-react-helmet='true' name='description' content='shank blog' />

<!-- sharecontent -->
<meta
  data-react-helmet='true'
  name='sharecontent'
  data-msg-img='https://portal.volccdn.com/obj/volcfe/misc/favicon.png'
  data-msg-title='Shanks Blog'
  data-msg-content='前端监控,小程序监控,mitojs,cjinhuo,web monitoring,mini program monitoring,shanks,blogs'
/>
