---
import type { BlogCardProps } from '@/types'
import Tag from './Tag.astro'
import BlogMeta from './BlogMeta.astro'
import { getWordCount } from '@/shared/utils'

const { slug, frontmatter, body } = Astro.props as BlogCardProps
const { pubDate, title, description, author, authorHref, tags } = frontmatter
const url = `/blogs/${slug}`

const wordCount = getWordCount(body ?? '')
const readingTime = Math.ceil(wordCount / 400)
---

<div class='w-full h-auto mb-6 p-6 bg-skin-card-bg border border-skin-card-border border-l-2 hover:border-l-skin-primary transition-colors'>
  <a href={url} class='text-lg text-skin-neutral-1 font-semibold block mb-4 hover:underline'>
    {title}
  </a>
  <BlogMeta
    pubDate={pubDate}
    author={author}
    authorHref={authorHref}
    wordCount={wordCount}
    readingTime={readingTime}
    class='gap-x-2 md:gap-x-4 mb-4'
  />
  <Tag tags={tags} className='mb-4' />
  <p class='text-xs text-skin-neutral-4 font-mono leading-relaxed'>{description}</p>
</div>
