---
import BaseHead from '../components/BaseHead.astro'
import Header from '@/components/Header/Header.astro'
import Footer from '../components/Footer.astro'
import 'github-markdown-css'
import { Image } from 'astro:assets'
import Comments from '../components/Comments.astro'

const {
  content: { title, duration, description, pubDate, updatedDate, heroImage, author, authorHref },
} = Astro.props

const tags = ['前端', '开发工具', '浏览器插件', 'AI', '搜索']
---

<html lang='en'>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={heroImage}
      author={author}
      authorHref={authorHref}
      pubDate={pubDate}
      updatedDate={updatedDate}
      type='article'
      tags={tags}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      article img {
        content-visibility: auto;
      }
    </style>
  </head>

  <body class='bg-skin-background'>
    <Header />
    <main>
      <article
        class='prose prose-slate prose-h1:my-5 prose-h2:my-4 prose-h3:my-3 prose-h4:my-2 prose-h5:my-1 prose-img:rounded-md dark:prose-invert max-w-content m-auto my-6'>
        {heroImage && <Image src={heroImage} alt={title} width={720} height={360} loading='eager' fetchpriority='high' />}
        <h1 class='title'>{title}</h1>
        <span>{pubDate && <time>{pubDate}</time>}{duration && `,${duration}`}</span>
        <!-- <Code
          code={`const initMiniProgram = () => {
  let adapter = {} as PlatformAdapterType
  const set = (platformAdapterContainers: InitialAdapterParamType) => {
    if (!getInstanceInfo().platform) throw Error(NotSupportMsg)
}`}
          lang="ts"
          theme="dark-plus"
        /> -->
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
        <Comments />
      </article>
    </main>
    <Footer />
  </body>
</html>
